<table style="width: 400px">
  <tr>
    <td><h3>Subject:</h3></td>
  </tr>
  <tr>
    <td><%= @notification.subject %></td>
  </tr>
  <tr>
    <td><h3>Message:</h3></td>
  </tr>
  <tr>
    <td><%= raw @notification.message %></td>
  </tr>
</table>
