<p>Hey <%= @project.user.email %>,</p>
<p> <%= "You have been invited you to join project from #{@project.project_id.try(:client)}" %> </p>
<p>Click here to <%= link_to 'Accept Invitation', pm_accept_invitation_url(token: @token) %> </p>
<p>Regards,</p>
<p>BioHotSpot Team.</p>
