<style>
    #popup {
        position:fixed;
        width:100%;
        height:100%;
        display:table;
        pointer-events:none;
        font-size: 18px;
    }
    #popup > div {
        display:table-cell;
        vertical-align:middle;
    }
    #popup p {
        width:80%;
        max-width:20em;
        margin:auto;
        padding:5px;
        /*border:10px solid;*/
        background:gray;
        pointer-events:auto;
    }
</style>

<div id="popup">
  <div><p>Your account has been confirmed. Your project manager has been sent a message and must approve your account before you can login to the app for the first time.</p>
  </div>
</div>


