<%= form_tag "import", multipart: true do %>
  <div class="panel">
    <h3>Import</h3>
    <div class="panel-contents">
      <%= file_field_tag :submissions, required: true %>
    </div>
  </div>
  <%= submit_tag 'Import' %>
<% end %>
